<!DOCTYPE html>
<html>
	<head>
		<title>Mae Heydorn | Mezzo Soprano</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/mae.css" />
		<script type="text/javascript" src="/static/js/mae.js"></script>
	</head>

	<body>
		<div id="wrapper">
			<div id="header">
				<div id="nav">
					<ul>
						<li><a href="/">HOME</a></li>
						<li><a href="/biog">BIOGRAPHY</a></li>
						<li><a href="/gallery">GALLERY</a></li>
						<li><a href="/blog">BLOG</a></li>
						<li><a href="/contact">CONTACT</a></li>
					</ul>
				</div>
			</div>

			<div id="content" class="bordered-above">
				{{ content }}
			</div>

			<div id="footer" class="bordered-above">
				<p class="credits">Photos: Alex Rumford &amp; Victorine Pontillon</p>
			</div>
		</div>
	</body>
</html>
